$headerBlue: #333399;
$formFieldBGC: #F0F0F0;

* { margin: 0 auto; }

header, #main-body, footer { max-width: 900px; }

.right { float: right; }
.left { float: left; }

header {
  letter-spacing: 5px;
  border-bottom: 7px solid $headerBlue;
  padding: 10px 2px;
  overflow: auto;
}

#flash-div {
  min-height: 30px;
  margin: 5px auto;
  p { text-align: center; padding-bottom: 5px; }
  .notice { color: green; border: 2px solid green; }
  .alert { color: red; border: 2px solid red; }
}

footer {
  border-top: 7px solid $headerBlue;
  padding: 10px 2px;
  overflow: auto;
  margin-top: 40px;
  p { text-align: center; }
}

nav div { display: inline-block; }

#main-body {
  background-color: #fff;
  color: #333;
  width: 80%;
  h1 {
    font-size: 22px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 16px;
    padding: 10px 0px;
    margin-bottom: 10px;
  }
  form {
    text-align: left;
    max-width: 600px;
    label {
      width: 200px;
      display: block;
      text-align: right;
      padding: 10px;
      float: left;
      line-height: 21px;
      background-color: $formFieldBGC;
      border: 2px solid #ccc;
      margin-right: 20px;
    }
    input[type=text], input[type=password] {
      font-size: 14px;
      width: 328px;
      padding: 12px;
      border: 2px solid #ccc;
    }
    input[type=text]:hover, input[type=password]:hover,
    input[type=text]:focus, input[type=password]:focus,
    input[type=text]:active, input[type=password]:active {
      border: 2px solid $headerBlue;
    }
    input[type=submit] {
      width: 100%;
      height: 40px;
      &:hover, &:focus {
        border: 2px solid $headerBlue;
      }
    }
  }
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a {
  color: #D95E16;
  padding: 0 6px 0 8px;
  text-decoration: none;
  &:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid $headerBlue;
  }
}

div.field, div.form-options { overflow: auto; margin-bottom: 10px; }

.field_with_errors {
  label, input[type=text], input[type=password] {
    border: 2px solid red !important;
  }
}

#error-explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $formFieldBGC;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    padding: 5px;
    li {
      font-size: 12px;
      list-style: none;
    }
  }
}

.contact {
  padding: 10px;
  margin: 10px auto;
  h3 {
    font-size: 16px;
    padding: 10px 0px;
    margin-bottom: 10px;
    color: $headerBlue;
    span {
      font-weight: normal;
      letter-spacing: 5px;
    }
  }
  p {
    span {
      display: inline-block;
      min-width: 200px;
    }
    span#email {
      min-width: 400px;
    }
  }
}

#new-contact-link {
  margin-top: 30px;
  a {
    display: table;
    font-size: 15px;
    padding: 10px 60px;
    background-color: $formFieldBGC;
    border: 2px solid #ccc;
    &:hover, &:focus {
      border: 2px solid $headerBlue;
    }
  }
}
